<nav >
    <div class="filtros-nav">
    <h2>Filtrar por:</h2>

    <div class="filtro-categorias">
        
        <div class="nombre-y-borrar">
            <p>Categoría:</p>
            {{#if category}}
                <a href="/products{{#if status}}?status={{status}}{{/if}}{{#if sort}}{{#unless category}}?{{/unless}}&sort={{sort}}{{/if}}" class="quitar-filtro">Quitar</a>
            {{/if}}
        </div>
        <div class="filtros-botones">
            <a href="/products?category=Electrónica{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Electrónica')}}selected{{/if}}{{/if}}">Electrónica</a>
            <a href="/products?category=Hogar{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Hogar')}}selected{{/if}}{{/if}}">Hogar</a>
            <a href="/products?category=Deportes{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Deportes')}}selected{{/if}}{{/if}}">Deportes</a>
            <a href="/products?category=Juguetes{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Juguetes')}}selected{{/if}}{{/if}}">Juguetes</a>
            <a href="/products?category=Electrodomésticos{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Electrodomésticos')}}selected{{/if}}{{/if}}">Electrodomésticos</a>
            <a href="/products?category=Papelería{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Papelería')}}selected{{/if}}{{/if}}">Papelería</a>
            <a href="/products?category=Computación{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Computación')}}selected{{/if}}{{/if}}">Computación</a>
            <a href="/products?category=Belleza{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Belleza')}}selected{{/if}}{{/if}}">Belleza</a>
            <a href="/products?category=Automotor{{#if status}}&status={{status}}{{/if}}" class="{{#if category}}{{#if (eq category 'Automotor')}}selected{{/if}}{{/if}}">Automotor</a>
            <a href="/products{{#if status}}?status={{status}}{{/if}}" class="{{#unless category}}selected{{/unless}}">Todas</a>
        </div>

    </div>

    <div class="filtro-status">
        <div class="nombre-y-borrar">
            <p>Disponibilidad:</p>
            {{#if status}}
                <a href="/products{{#if category}}?category={{category}}{{/if}}{{#if sort}}{{#unless category}}?{{/unless}}&sort={{sort}}{{/if}}" class="quitar-filtro">Quitar</a>
            {{/if}}
        </div>
        <div class="filtros-botones">
            <a href="/products?status=true{{#if category}}&category={{category}}{{/if}}"  class="{{#if status}}{{#if (eq status 'true')}}selected{{/if}}{{/if}}">Disponibles</a>
            <a href="/products?status=false{{#if category}}&category={{category}}{{/if}}" class="{{#if status}}{{#if (eq status 'false')}}selected{{/if}}{{/if}}">No disponibles</a>
            <a href="/products{{#if category}}?category={{category}}{{/if}}" class="{{#unless status}} selected {{/unless}}">Todos</a>
        </div>
    </div>

    <div class="filtro-orden">
        <div class="nombre-y-borrar">
            <p>Ordenar por precio:</p> 
            {{#if sort}}
                <a href="/products{{#if category}}?category={{category}}{{/if}}{{#if status}}{{#unless category}}?{{/unless}}&status={{status}}{{/if}}" class="quitar-filtro">Quitar</a>
            {{/if}}
        </div>
        <div class="filtros-botones">
            <a href="/products?sort=asc{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}" class="{{#if (eq sort 'asc')}}selected{{/if}}">Menor a mayor</a>
            <a href="/products?sort=desc{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}" class="{{#if (eq sort 'desc')}}selected{{/if}}">Mayor a menor</a>
            
        </div>
    </div>
  </div>
</nav>

<h1 class="titulo-div-cards-productos">Productos</h1>
<div class="div-cards-productos">
{{#each products}}
  <div class="card-producto">
    <h3 class="titulo-card-producto">{{this.title}}</h3>
    {{!-- <p class="descripcion-card-producto">{{this.description}}</p> --}}
    <p>${{this.price}}</p>
    <a href="/products/{{this._id}}" class="boton-ver-mas">Ver detalle</a>
    
    {{!-- activa o desactiva el boton agregar a carrito --}}
        {{#if this.status}}
            <form method="POST" action="/api/carts/{{cartId}}/product/{{this._id}}">
                <button type="submit">Agregar al carrito</button>
            </form>
        {{else}}
            <form>
                <button type="submit" disabled style="background-color: grey; cursor: not-allowed;" class="producto-no-disponible">
                Producto no disponible
                </button>
            </form>
        {{/if}}

  </div>
{{/each}}
</div>
<div class="div-paginado">
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}" class="botones-anterior-siguiente">Anterior</a>
  {{/if}}

  Página {{page}}

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}" class="botones-anterior-siguiente">Siguiente</a>
  {{/if}}
</div>

